name: Nightly

on:
  schedule:
    - cron: 0 8 * * 1-5
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  trunk_upgrade:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - id: get_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1.8.0
        with:
          app_id: ${{ secrets.BOT_APP_ID }}
          private_key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: trunk-io/trunk-action/upgrade@632304d71a8d44ebb670f9feb95fe0be50453acd # v1.1.8
        with:
          token: ${{ steps.get_token.outputs.token }}

  oss_scorecard:
    uses: ./.github/workflows/scorecard.yaml

    permissions:
      contents: read
      security-events: write
      id-token: write
